<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">Emails</h4>
                    </div>
                    <div class="col-6">
                        <div class="button-group float-right">
                            <button type="button" class="btn waves-effect waves-light btn-primary" [routerLink]="['/emails/add']">
                                <i class="fa fa-plus"></i> Crear
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger m-r-5" [routerLink]="['/emails/delete']">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-info" [routerLink]="['/emails/update']">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger m-r-5" [routerLink]="['/emails/delete']">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-info" [routerLink]="['/emails/update']">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger m-r-5" [routerLink]="['/emails/delete']">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-info" [routerLink]="['/emails/update']">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger m-r-5" [routerLink]="['/emails/delete']">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-info" [routerLink]="['/emails/update']">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>